*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Libre Baskerville Regular;
  }


.head__nav {
    background-color: bisque;
    padding: 20px;
}

.login {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 10px;
}


.icon {
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    padding-left: 20px;
}

.icon2 {
    font-size: 20px;
    padding-right: 5px;
}

.nav-item:hover {
    background-color: rgba(158, 155, 155, 0.541);
    border-radius: 20px;
}

.dropdown-menu {
    background-color: bisque;
}

.dropdown-menu :hover {
    border-radius: 20px;
}

/*--footer--*/

footer {
    background-color: bisque;
    padding: 20px;
    text-align: center;
}


.fuenteIntermedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*-- main -- */

.index__row {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cuadro{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}
/*--Contacto--*/

.contactoConsulta {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.contactoConsulta button {
    width: 100px;
    padding: 10px;
    margin-top: 20px;
    background-color: bisque;
    border-radius: 20px;
    border: none;
}

.contactoConsulta button:hover {
    background-color: rgba(46, 46, 46, 0.555);
}

.datos__consulta {
    display: grid;
    grid-row: auto;

}

.row__contacto {
    padding: 50px;
}

.nosotrosMain {
    margin: 50px;
}

/*-- Compra Segura--*/

.seguraText {
    margin: 50px;
}


/*-- Como Comprar --*/

.comoBox {
    margin: 50px;
}

/*--Registro--*/

.registro{
    background-image: url(../images/fondo/fondo.jpg);
    background-repeat: none;
    background-size: cover;

}

/*-- Nosotros --*/

.row_galeria {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.row_galeria img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}