<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lady</title>
        <link rel="stylesheet" href="././css/style.css">
        <link rel="stylesheet" type="text/css" href="././iconos/iconitos.css">
    </head>
    <body>
        <!--Cabecera-->
        <header>
            <div class="containerHeader">
                <div class="search">
                    <form action="./index.html">
                        <input type="text" placeholder="Search.." name="search" required>
                        <button class="botoEnviar" type="submit">Buscar</button>
                    </form>
                    <nav class="login__top">
                        <a href="./pages/registro.html">Registrate</a>
                        <a href="./pages/login.html">Login</a>
                    </nav>
                    
                </div>
                <div class="toplogo">
                    <a href="./index.html"><img src="./images/logo.png" alt="gato"></a>
                </div>
                <nav class="navegacion">
                    <ul class="navegacion__top">
                        <li><a href="./index.html"><span class="icon icon-home2"></span></a></li>
                        <li class="dropdown">
                            <a href="./pages/productos.html" class="dopbtn">Productos</a>
                            <div class="dropdown__content">
                                <a href="">Velas</a>
                                <a href="">Aromatizadores</a>
                                <a href="">Difusores</a>
                                <a href="">Hornitos</a>
                                <a href="">Aceites</a>
                                <a href="">Inciensos</a>
                                <a href="">Accesorios</a>
                            </div>
                        </li>
                        <li><a href="./pages/sale.html">Ofertas</a></li>
                        <li><a href="./pages/comocomprar.html">Como Comprar</a></li>
                        <li><a href="./pages/comprasegura.html">Compra Segura</a></li>
                        <li><a href="./pages/nosotros.html">Nosotros</a></li>
                        <li><a href="./pages/contacto.html">Contacto</a></li>
                        <li><a href="./pages/productos.html"><span class="icon icon-cart"></span></a></li>
                    </ul>
                </nav> 
            </div>
            
        </header>
        <!--Cuerpo de pagina-->
        <main>
            <div class="calecita">
                <img src="./images/banners/index.jpg" alt="bannerinicio" style width="100%" margin-bottom="20px" margin-top="20px"> <!--SE DEBE ARMAR UN CARROUSEL ACA-->
            </div>
            <section class="especiales">
                <div class="spa">
                    <div class="spaInner">
                        <div class="spa__front">
                            <div class="containerFront">
                                <img src="./images/index/SPA.jpg" alt="spa" class="spa1">
                                <div class="content">
                                    <h1>Velas Ecologicas</h1>
                                </div>
                            </div>
                        </div>
                        <div class="spa__back">
                            <div class="containerText">
                                <section>
                                    <article class="informacion">
                                        <h1 class="informacion__titulo--uppercase" style="margin-top: 35px;">Nuestras velas son ecologicas</h1>
                                    </article>
                                </section>
                                <br>
                                <p class="cardText">Fabricadas a partir de porotos de soja, las velas ecológicas son una alternativa natural de iluminar el hogar sin dañar el medioambiente. La cera que utilizan es biodegradable y renovable. Además, no es tóxica y su combustión produce menos hollín que las tradicionales de origen petroquímico o parafina. Las velas de cera de soja incluso pueden durar un 50% más, ya que se consumen lentamente y a menor temperatura, manteniendo las fragancias de manera continua en el aire.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hotel">
                    <div class="hotelInner">
                        <div class="hotel__front">
                            <div class="containerFront">
                                <img src="./images/index/HOTEL.jpg" alt="hotel" class="hote1">
                                <div class="content">
                                    <h1>Diseños unicos</h1>
                                </div>
                            </div>
                        </div>
                        <div class="hotel__back">
                            <div class="containerText">
                                <section>
                                    <article class="informacion">
                                        <h1 class="informacion__titulo--uppercase" style="margin-top: 25px;">Diseños unicos</h1>
                                    </article>
                                </section>
                                <br>
                                <p class="cardText">Lady Proyecto sigue en la búsqueda constante de la excelencia en el diseño de espacios integrales.<br>La experiencia que nos da el mercado del diseño, nos permite incorporar una amplia variedad de productos de alta calidad, adaptándonos a las demandas del mercado y a las necesidades de cada cliente en particular.<br>Inspirados en un estilo moderno y sin descuidar las tendencias actuales brindamos lo necesario para que sus espacios sean de alta categoría y estética.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hogar">
                    <div class="hogarInner">
                        <div class="hogar__front">
                            <div class="containerFront">
                                <img src="./images/index/HOME.jpg" alt="hogar"class="home1">
                                <div class="content">
                                    <h1>Aceites Esenciales</h1>
                                </div>
                            </div>
                        </div>
                        <div class="hogar__back">
                            <div class="containerText">
                                <section>
                                    <article class="informacion">
                                        <h1 class="informacion__titulo--uppercase" style="margin-top: 25px;">Nuestros aceites son esenciales</h1>
                                    </article>
                                </section>
                                <br>
                                <p class="cardText">¿Qué son los aceites esenciales?<br> Los aceites esenciales son la esencia de una planta, un regalo de la tierra, destilada y preparada para que puedas llevar el poder de la naturaleza a tu hogar.<br>Dentro de muchas plantas, ocultas en las raíces, semillas, flores, corteza, se encuentran compuestos químicos concentrados y muy potentes. Estos compuestos naturales son aceites esenciales.<br>Los aceites esenciales le dan a la planta su aroma, la protegen de condiciones ambientales peligrosas e incluso la ayudan con la polinización, entre otras funciones y beneficios importantes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!--Informacion den PIE DE PAGINA-->
        <footer class="footer">
            <div class="foot__cardpie">
                <h2>Capital Federal</h2>
                <p class="leftText">
                    Paraguay 4636 - Palermo
                    <br>
                    (011) 4-7775-8742
                    <br>
                    <span class="icon icon-whatsapp"></span> Celular 11-5698-7895
                    <br>
                    Lun a Viernes
                    <br>
                    09:00 a 20:00 hs
                    <br>
                    info@ladyproyecto.com.ar
                </p>
            </div>
            <div class="foot__cardpie">
                <div class="future-icon bg-primary bg-gradient">
                    <h2 class="fuenteMediana">Redes Sociales</h2>
                </div>
                <div class="facebook">
                    <p class="fuenteIntermedia"><span class="icon icon-facebook2"></span>Ladyproyecto</p>
                </div>
                <div class="instagram">
                    <p class="fuenteIntermedia"><span class="icon icon-instagram"></span>@Ladyproyecto</p>
                </div>
            </div>
            <div class="foot__cardpie">
                <h2>NEWSLETTER</h2>
                <p>Enterate antes que nadie de nuestras novedades</p>
                <div class="newsLetter">
                    <div class="enviar">
                        <form action="#cabcecera">
                            <div class="botMail">
                                <input type="text" placeholder="E-mail" name="newsletter" required> <!--modificar luego-->
                                <button class="btn btn-primary" type="submit">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>


/*Especiales*/

.especiales {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 90%;
    height: 700px;
    margin: auto auto;
  
  }
  .spa, .hotel, .hogar {
    margin-top: 50px;
  }
    
  .spa1, .hote1, .home1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    position: absolute;
    right: 50px;
    left: 50px;
   
  }
  
  .cardText {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    
  }
  
  .containerText {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: rgba(255, 228, 196, 0.651);
    margin-top: 100px;
  
  }
  
  .containerFront .content {
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 20px;
    margin: 50px 50px;
  }
  .informacion__titulo--uppercase {
    text-transform: uppercase;
  }
    /*EL EFECTO*/
  
    .spaInner, .hotelInner, .hogarInner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
     
    }
  
    .spa:hover .spaInner, .hotel:hover .hotelInner, .hogar:hover .hogarInner {
      transform: rotateY(180deg);
    }
  
    .spa__front, .spa__back, .hotel__front, .hotel__back, .hogar__front, .hogar__back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    
    .spa__front, .hotel__front, .hogar__front {
      color: black;
    }
  
    .spa__back, .hotel__back, .hogar__back {
        color: black;
        transform: rotateY(180deg);
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: bisque;
  }