$bisque : bisque;
$negro:black;
$traslucido: rgba(255, 255, 255, 0.623);

header {
    background-color: $bisque;
}

.head__nav {
    background-color: $bisque;
    padding: 20px;
}

footer {
    background-color: $bisque;
    padding: 20px;
    text-align: center;
}